<h1>Portfolios#new</h1>
<p>Find me in app/views/portfolios/new.html.erb</p>

<%= form_for(@portfolio) do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>

	<%= f.label :initial_capital %>
	<%= f.number_field :initial_capital %>

	<% 10.times do %>
		<%= f.fields_for @stock do |stock| %>
			<%= f.label :name %>
			<%= f.text_field :name %>

			<%= f.label :symbol %>
			<%= f.text_field :symbol %>

			<%= f.label :portfolio_percentage %>
			<%= f.number_field :portfolio_percentage, class: text_field, step: 0.01 %>
		<% end %>
	<% end %>

	<%= f.submit %>
<% end %>
